<%- include('./includes/head.ejs') %>
<%- include('./includes/navbar.ejs') %>
    <% if(products.length > 0) { %>
        <div class="container">
            <div class="row">
                <%for (product of products) { %>
                    <div class="col-sm-6">
                        <article class="card product-item">
                            <header class="card__header">
                                <h1 class="product__title"><%= product.title %></h1>
                            </header>
                            <div class="card__image">
                                <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" width="200" height="200" alt="A Book">
                            </div>
                            <div class="card__content">
                                <h2 class="product_description"><%= product.product_name %></h2>
                                <h2 class="product__price">$<%= product.price %></h2>
                                <p class="product__description"><%= product.description %></p>
                            </div>
                            <div class="card__actions">
                                <a href="/productDetails/<%= product._id %>">View details</a>
                            </div>
                        </article>
                    </div>
            
            <% } %>
        
        </div>
    </div>
    <% } else { %>
        <div class="alert alert-primary" role="alert">
            There are no products in store!
        </div>
    <% } %>
<%- include('./includes/footer.ejs') %>
