<%- include('./includes/head') %>
    <%- include('./includes/navbar') %>

        <p><%= product._id %></p>
        <p><%= product.description %></p>
        <p><%= product.product_name %></p>
        <p><%= product.price %></p>
<%- include('./includes/footer') %>